version: '3.8'
services:
  mongodb:
    build:
      context: .
      dockerfile: Dockerfile.mongodb
    env_file:
      - .env
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  scrapper:
    build:
      context: .
      dockerfile: Dockerfile.scrapper
    depends_on:
      - mongodb
    env_file:
      - .env

  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    depends_on:
      - mongodb
    ports:
      - "${API_PORT}:3000"
    env_file:
      - .env

volumes:
  mongo-data: