version: '3.8'
services:
  mongodb:
    image: mongo:4.4.18
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=password123
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  scrapper:
    build:
      context: .
      dockerfile: Dockerfile.scrapper
    depends_on:
      - mongodb
    environment:
      - MONGO_USER=admin
      - MONGO_PASSWORD=password123
      - MONGO_HOST=mongodb
      - MONGO_PORT=27017
      - DB_NAME=meteo
    volumes:
      - /dev/shm:/dev/shm  # ← partage /dev/shm avec l'hôte
    restart: on-failure

  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    depends_on:
      - mongodb
    ports:
      - "3000:3000"
    environment:
      - MONGO_USER=admin
      - MONGO_PASSWORD=password123
      - MONGO_HOST=mongodb
      - MONGO_PORT=27017
      - DB_NAME=meteo
    restart: on-failure

volumes:
  mongo-data:

