[Unit]
Description= projet station meteo

[Service]
WorkingDirectory=/home/pi/projet-station-meteo
ExecStart= /usr/bin/docker compose up 

[Install]
WantedBy=multi-user.target
