[Unit]
Description= projet station meteo

[Service]
WorkingDirectory=/opt/meteoapi
ExecStart= /urs/bin/docker compose up 

[Install]
WantedBy=multi-user.target
