[Unit]
Description= projet station meteo

[Service]
WorkingDirectory=/opt/meteoapi
ExecStart= docker-compose up --build

[Install]
WantedBy=multi-user.target
